## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.randint(10000000,size=2)

array([7096447, 9144998])

In [3]:
data = {'國家': ['Taiwan','Japan','Korea','Singapore'],'人口':np.random.randint(10000000,size=4) }
data
df = pd.DataFrame(data)
df

          國家       人口
0     Taiwan  9548888
1      Japan  8496531
2      Korea  4515277
3  Singapore  9645113

In [4]:
df['人口'].idxmax() #最大值的位置

3

In [5]:
print(df.loc[df['人口'].idxmax(), '國家']) #loc[x_label,y_label]對應的資料

Singapore